body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.todo-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.flex-grow {
  flex-grow: 1;
}

.todo-row:hover .delete-button {
  display: inline-block;
}

.delete-container {
  display: flex;
  align-items: center;
}

.delete-button {
  display: none;
  background-color: #dc3545;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.add-todo {
  display: flex;
  align-items: center;
}

.add-todo input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.add-button {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}


